.container{
  display:grid;
  max-width: 1400px;
  margin: 0 auto;
  /* height:60vh; */
  background: #000000;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr; */
  grid-template-areas:
    "nav nav nav "
    "content2 content1 main"
    "content3 content3 mainadd"
    "content5 content5 content5";
  grid-gap: 0.8rem;
  font-family:sans-serif;
  font-weight:800;
  text-transform: none;
  font-size:1rem;
  color: #004d40;
  padding: 1rem;
  text-align:center;
}

canvas {
  display: block;
  position:absolute;
  background: #2e5eaa;
  top:0;
  left:0;
  }

nav{
  /* background: #341931; */
  grid-area: nav;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
  font-size:40px;
  color: #ffffff;
}
#überschrift2{

  font-size: 1rem;
}

main{
  background: #030102;
  grid-area: main;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
  font-size: 1rem;
  color: #ffffff;
}
#mainadd{
  background: #ffffff;
  grid-area: mainadd;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
  font-size: 1rem;
  color: #000000;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}
#sidebar{
  background: #25b1b1;
  grid-area:sidebar;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}

#content1{
  background: #341931;
  color: #fff;
  grid-area:content1;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
  font-size: 1rem;
  text-align:left;
  padding-left: 1rem;
  padding-right: 1rem;
}
#copytext,#copynumb,#strukturbutton{
  font-size: 1rem;
}
#copynumber{
  font-size: 1rem;

}
output{
  font-size: 1rem;
}
#text{
font-size: 1rem;

}
#text2{
  font-size: 1rem;
  
  }
#text3{
    font-size: 1rem;
    
    }
#button{
  font-size: 1rem;

}
#content2{
  background: #341931;
  grid-area:content2;
  border-radius:var(--main-radius);
  text-align: left;
  font-size: 1rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

#content3{
  background: #341931;
  grid-area:content3;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
  padding-left: 1rem;
  padding-right: 1rem;
}


#content5{
  background: #341931;
  grid-area:content5;
  color: #fff;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
  text-align: left;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#content6{
  background: #6fffd2;
  grid-area:content6;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
    padding-left: 1rem;
  padding-right: 1rem;
}
#socialtext{

  text-align: left;
  font-size: 12px;
  color: white;
}
#story{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  
}
#storyadd{
  width: 100%;
  height: 100%;
  font-size: 1rem;

}
#copytext{
width:100%;

}
footer{
  background:#1de9b6;
  grid-area:footer;
  border-radius:var(--main-radius);
  padding-top: var(--main-padding);
}
img {
  width: auto;
 }

@media only screen and (max-width: 800px) {
  .container{
    width:60vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "nav main"
      "content2 content1"
      "content3 content3"
      "content5 content5"
      "mainadd mainadd";
  }

img {
  width: 50%;
  height: 50%;
  max-width: 100%;
  }

  #story{
    width: 100%;
    height: 500px;
    font-size: 1rem;
  }
}
