<!doctype html>

<head> 
  <script src="jquery-3.5.1.min.js"></script>
    <title>AIke</title> 
      <meta charset=utf-8> 
    <link rel="stylesheet" href="static/css/main.css"> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
 
      <title>AIke</title>
<div class="container">
 
 







  <nav><p id=überschrift1>Witze generieren mit AIke</p>

    <p id=überschrift2>200 Witze, 1000 Trainingseinheiten, 1 App, 0 Personalnebenkosten</p>
    <div id="socialtext"><a href="https://twitter.com/endzeitung/" style="color:#fcfcfc;">Schreib mir deine Meinung</a> </div>
  </nav>
      
  <main>
        <div class ="gif">
            
          <img class="img" src ="static/input.gif" alt="Start your own" onclick="changeImage()" id ="img" />
  
                      <script>
                      function changeImage() {
                        var image = document.getElementById('img');
                        if (image.src.match("generate")) {
                          image.src = "static/input.gif";
                        } else {
                          image.src = "static/generate.gif";
                        }
                      }
                      </script>
        
      
        </div>
        
  </main>
<div id="mainadd">
  <p>Das Machinelearning-Pytorch-Modul wurde <a href="https://github.com/closeheat/pytorch-lstm-text-generation-tutorial" target="_blank" style="color:#fcfcfc;">hier</a> geforked. Training, Server, Dynamische Bedienung made by Aike. Open Source. Lade dir das Programm <a href="https://github.com/Siddh1rt1/AIke/tree/version3/aike_gitup" style="color:#fcfcfc;">hier</a> runter und generiere dir eigene Texte. </p>
</div>
  <div id="content1">
    <div id=radio2main>
      <form method="Post">
    <form id=radio2>

      
    </form>
    
      </form>
    </div>
    <form method="POST">

      <form name="radio" id = "radio">
        <p>Select mode:</p>

        <div>
          <p></p>
          <input type="radio" id="radio1" name="radio" value="normal"  {{checked1}}>
          <label for="huey">normal</label>
        </div>
        
        <div>
          <input type="radio" id="radio2" name="radio" value="Oneliner" {{checked2}}>
          <label for="dewey">Oneliner</label>
        </div>
        
        <div>
          <input type="radio" id="radio3" name="radio" value="Klassisch"{{checked3}}>
          <label for="louie">Klassisch</label>
        </div>

        <div>
          <input type="radio" id="radio4" name="radio" value="Aggro"{{checked4}}>
          <label for="louie">Aggro</label>
        </div>


        <p>Epoche(1-20)</p>
      <input id="text2" input name="text2" font-size="20px" value={{timer_variable}}>
        <p>Words(1-20)</p>
      <input id="text3" input name="text3" value={{words_variable}}>
        <p2 id="text2_p2"></p2>
        <p>Input</p>
        <input id="text" input name="text" value={{input_variable}}>

      <form method="POST" font-size:20px >  
         <input type="submit" onclick="getstatus()" value="Generiere Witze"id="button">

      </form>
      </form>
    </form>
    <script>

      function lookattext(x){
        document.getElementById("text2_p2").value = x;
        if (x=0){
         document.getElementById("text2").value=4;
        }
       else
      {document.getElementById("text2").value=x;
       }
     }
     </script>   


       


  </div>

<div id="content2">
  <p>


  </p>
  <div><p>
        Mode: <br> Stoppt Predict() neuer Wörter <br>
 </p>  </div>

  <div><p>
    Epoche: <br>Anzahl der Predict()-Versuche<br>
</p></div> 

<div><p>
  Words: <br>Wörter pro Predict()<br>
</p> </div> 

<div><p>
  Input: <br>Predict() Wörter nach Input<br>
</p> </div> 

  Aufbau:
    <div id="status1">
      index.html

    </div> 
    <div id="status2">
      server.py

    </div>
    
    <div id="status3">
      train.py
    </div>
    
    <div id="status4">
      dataset.py

    </div>
    
    <div id="status5">
      model.py

    </div>

 
  <script>


var intervalId =window.setInterval(function(){getstatus()},4000);
function status(a){
  var elementa = document.getElementById("status"+a);
        elementa.style.color ="#FF0000";
        setTimeout(myFunctiona, 200);
        function myFunctiona() {elementa.style.color ="";}
}
var a="1"
var b="2"
var c="3"
var d="4"
var e="5"


function getstatus(){
        status(1);
        setTimeout("status(2)",100);
        setTimeout("status(3)",200);
        setTimeout("status(4)",300);
        setTimeout("status(5)",400);
        setTimeout("status(3)",500);
        setTimeout("status(4)",600);
        setTimeout("status(3)",700);
        setTimeout("status(2)",800);
        setTimeout("status(1)",900);
      
}
   
  </script>
  
</div>


<div id="content3">
  <textarea id="story"   name="story" >{{data}}</textarea>
  </div>



<div id="content5"> 
 <div>
  <button id= "copynumber" onclick="getcopy()"> "Kopiere Witz"</button>
  <input id="copynumb" input name="copynumb" value="1"><br>
</div>
<div> <p>Kopiere einen Witz und poste ihn im Internet.</p>
<input id="copytext" input name="copytext" value = "kopierter Witz"><br>
Tag me <div id="socialtesfxt"><a href="https://twitter.com/endzeitung" style="color:#0d130d;">@Endzeitung</a> </div> :)
</div>


  <script>
    function getcopy(){

      const str = 'The quick brown fox jumps over the lazy dog.';
      const words = str.split(' ');
        console.log(words[3]);
        
        var copynum=document.getElementById("copynumb").value;
        myarrayticker= parseInt(copynum);
        let textcopy=document.getElementById("story").value;
        const myArray=textcopy.split("\n");
 
        var textin=myArray[myarrayticker-1];
        textout=textin.split('] ').pop();
        document.getElementById("copytext").value=textout;

        copyText = document.getElementById("copytext");
        copyText.select();
        copyText.setSelectionRange(0,99999);
        navigator.clipboard.writeText(copyText.value);
        alert("Copied the text: "+ copyText.value);
    }
  </script>
<br>
  <div class="output">
          
    <button id="strukturbutton" onclick="typeWriter()" >Strukturanalyse</button>
    <textarea id="storyadd"   name="story"  ></textarea>

  </div>
    <script>

      function addVal(){
      document.getElementById('storyadd').value = texto
      }


      var lustiger = Math.round(Math.random() * (200 - 5))*4.3 + 5+(Math.round(Math.random()*(40-252,3)))/10
      var i = 0;
     
      var speed = 30;
      document.getElementById("storyadd").innerHTML="";
     
      function typeWriter() {
        var txtadd=document.getElementById("copynumb").value;

      var txt = "Witz ["+ txtadd + "] ist mindestens " + lustiger +" % lustig.";
      if (i < txt.length) {
        document.getElementById("storyadd").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
     
       } 
      
      
    </script>
        <pre id="output"></pre>
        <script type="text/javascript">
          document.getElementById('inputfile')
              .addEventListener('change', function() {
              var fr=new FileReader();
              fr.onload=function(){
                  document.getElementById('output')
                          .textContent=fr.result;
              }
                
          fr.readAsText(this.files[0]);
          })
        </script>
  
</div>
</div>
           


    </body>

    



